.info-container {
  width: 60%;
  margin: auto;
  padding-bottom: 10px;
}

.info-container input,
.info-container textarea {
  margin-bottom: 20px;
}

.info-container .btn {
  width: 100%;
  display: block;
  margin: auto;
}

@media (max-width: 1023px) {
  .info-container {
    width: 614px;
  }
}

@media (max-width: 650px) {
  .info-container {
    width: 320px;
  }
}

@media (max-width: 350px) {
  .info-container {
    width: 290px;
  }
}
