.msg-container {
    width: 800px;
    margin: 100px auto;
    .msg-item {
        cursor: pointer;
        display: flex;
        align-items:center;
        &:hover {
            background-color: skyblue;
        }
        .msg-name-avatar{
            display: flex;
            flex-direction:column;
            padding-right: 5%;
        }
        p.msg-content {
            width: 80%;
            height: 64px;
            overflow: hidden;
            margin-bottom: 0;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

    }
    .msg-circle {
        display: block;
        width: 28px;
        height: 28px;
        background: red;
        text-align: center;
        line-height: 28px;
        border-radius: 50%;
        color: white;
        font-weight: bold;
    }
}