.navlink-span {
    font-size: 22px;
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    img {
      width: 20px;
      height: 20px;
      margin: 0 auto;
    }

    a{
      color: #ccc;
      font-size: 16px;
    }
}
.circle-message{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
  position: absolute;
  top: -6px;
  text-align: center;

  p{
    line-height: 20px;
    color: white;
    font-size: 12px;
  }
}