.navlink-span {
    padding-right: 12px;
    font-size: 22px;
    cursor: pointer;
    position: relative;
    a{
      padding-left: 20px;
      color: #ccc;
    }
   
}
.navlink-span:first-child{
  margin-left: 100px;
}
.circle-message{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
  position: absolute;
  top: -6px;
  text-align: center;
 
  p{
    line-height: 20px;
    color: white;
    font-size: 12px;
  }
}