.chat-container {
    width: 100%;
    position: relative;
    border: 1px solid #ccc;
    flex-direction: column;
    .chat-container-username{
        position: fixed;
        top: 0px;
        width: 100%;
        height:46px;
        text-align: center;
        font-size: 16px;
        background-color: #4a9aea;
        font-weight: bold;
        color: white;
        line-height: 46px;
        z-index: 10;
        margin: 0px;
        >a{
            float: left;
            color: white;
            font-size: 30px;
            padding-left: 10px;
        }
    }
    .chat-content {
        padding-top: 40px;
        overflow: auto;
        border-bottom: 1px solid #999;
        height: 60vh;
    }
    .chat-message {
        position: relative;
        height: 20vh;
    }
    .chat-button {
        position: absolute;
        bottom: 0px;
        right: 26px;
    }
    .chat-me{
        font-size: 18px;
        text-align: right;
        position: relative;
        .content-container-r{
            display: inline-block;
            max-width: 144px;
            vertical-align: top;
            right: 70px;
            word-break: break-all;
            text-align: left;
            background: #4a9aea;
            padding: 10px;
            border-radius: 10px;
            color: white;
        }
    }
    .chat-other{
        font-size: 18px;
        position: relative;
        .content-container-l{
            display: inline-block;
            max-width: 144px;
            left: 70px;
            vertical-align: top;
            word-break: break-all;
            text-align: left;
            background: #4a9aea;
            border-radius: 10px;
            color: white;
            padding: 10px;
        }
    }
    .chat-emoji{
        width: 50px;
        height: 50px;
        position: absolute;
        top: -30px;
        left: 10px;
        cursor: pointer;
    }
    .chat-emoji-container{
        background-color: white;
        text-align: center;
        position: absolute;
        height: 160px;
        overflow: auto;
        top: -180px;
        width: 100%;
        .ant-col-2{
            &:hover{
                background-color: #ccc;
                cursor: pointer;
            }
        }
    }
}

.emoji{
    width: 20px;
    height: 20px;
    display: inline-block;
    margin: 5px;
    cursor: pointer;
}