.header{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.avatar-selector-ImgContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}