.container {
  display: flex;
  flex-direction: column;
}
.card{
    margin-bottom: 20px;
    width: 80vw;
}

.footer {
  padding-top: 11px;
  border-top: 1px solid #e5e5e5;
  display: flex;
  justify-content: flex-end;
}

.customBody {
  color: var(--adm-color-success);
}
