.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  justify-content: center;
  align-items: center;
}
.card {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 90vw;
}

.footer {
  padding-top: 11px;
  border-top: 1px solid #e5e5e5;
  display: flex;
  justify-content: flex-end;
}

.customBody {
  color: var(--adm-color-success);
}
