.chat-container {
    width: 800px;
    height: 560px;
    position: relative;
    margin: 100px auto;
    border: 1px solid #ccc;
    .chat-container-username{
        position: absolute;
        width: 100%;
        height:30px;
        text-align: center;
        font-size: 16px;
        background-color: rgb(168, 135, 135);
        margin-bottom: 0;
        top: -30px;
        font-weight: bold;
    }
    .chat-content {
        height: 420px;
        overflow: auto;
        border-bottom: 2px solid black;
    }
    .chat-message {
        height: 140px;
        overflow: auto;
    }
    .chat-textarea {
        width: 100%;
        outline: none;
        border: none;
        height: 135px;  
        padding: 16px;
        padding-bottom: 40px;
        resize: none;
    }
    .chat-button {
        position: absolute;
        bottom: 4px;
        right: 20px;
    }
    .chat-me{
        font-size: 18px;
        text-align: right;
    }
    .chat-other{
        font-size: 18px;
    }
}

textarea {
    outline: none
}