.chat-container {
    width: 800px;
    height: 560px;
    position: relative;
    margin: 0px auto;
    transform: translateY(200px);
    border: 1px solid #ccc;
    .chat-container-username{
        position: absolute;
        width: 100%;
        height:30px;
        text-align: center;
        font-size: 16px;
        background-color: rgb(168, 135, 135);
        margin-bottom: 0;
        top: -30px;
        font-weight: bold;
        >a{
            float: left;
            color: white;
        }
    }
    .chat-content {
        height: 420px;
        overflow: auto;
        border-bottom: 2px solid black;
    }
    .chat-message {
        position: relative;
        height: 140px;
        // overflow: auto;
    }
    .chat-textarea {
        width: 100%;
        outline: none;
        border: none;
        height: 135px;  
        padding: 16px;
        padding-bottom: 40px;
        resize: none;
    }
    .chat-button {
        position: fixed;
        bottom: 4px;
        right: 26px;
    }
    .chat-me{
        font-size: 18px;
        text-align: right;
    }
    .chat-other{
        font-size: 18px;
    }
    .chat-emoji{
        position: fixed;
        bottom: 4px;
        right: 3px;
        cursor: pointer;
    }
    .chat-emoji-container{
        background-color: white;
        text-align: center;
        position: absolute;
        height: 160px;
        overflow: auto;
        top: -180px;
        width: 400px;
        .ant-col-2{
            &:hover{
                background-color: #ccc;
                cursor: pointer;
            }
        }
    }
}

textarea {
    outline: none
}