.chat-container {
    width: 100%;
    height: 100vh;
    position: relative;
    border: 1px solid #ccc;
    flex-direction: column;
    .chat-container-username{
        position: fixed;
        top: 0px;
        width: 100%;
        height:40px;
        text-align: center;
        font-size: 16px;
        background-color: #4a9aea;
        font-weight: bold;
        color: white;
        line-height: 40px;
        z-index: 10;
        >a{
            float: left;
            color: white;
            font-size: 30px;
        }
    }
    .chat-content {
        padding-top: 40px;
        overflow: auto;
        border-bottom: 1px solid #999;
        height: 70vh;
    }
    .chat-message {
        position: relative;
        height: 140px;
        height: 30vh;
    }
    .chat-textarea {
        width: 100%;
        outline: none;
        border: none;
        height: 135px;  
        padding: 30px 20px 20px 20px;
        resize: none;
    }
    .chat-button {
        position: fixed;
        bottom: 14px;
        right: 26px;
    }
    .chat-me{
        font-size: 18px;
        text-align: right;
        position: relative;
        .content-container-r{
            display: inline-block;
            max-width: 144px;
            vertical-align: top;
            right: 70px;
            word-break: break-all;
            text-align: left;
            background: #4a9aea;
            padding: 10px;
            border-radius: 10px;
            color: white;
        }
    }
    .chat-other{
        font-size: 18px;
        position: relative;
        .content-container-l{
            max-width: 144px;
            left: 70px;
            vertical-align: top;
            word-break: break-all;
            text-align: left;
            background: #4a9aea;
            border-radius: 10px;
            color: white;
        }
    }
    .chat-emoji{
        position: absolute;
        top: 4px;
        left: 10px;
        cursor: pointer;
        }
    .chat-emoji-container{
        background-color: white;
        text-align: center;
        position: absolute;
        height: 160px;
        overflow: auto;
        top: -180px;
        width: 400px;
        .ant-col-2{
            &:hover{
                background-color: #ccc;
                cursor: pointer;
            }
        }
    }
}

textarea {
    outline: none
}